.wrapper {
  font-family: "Montserrat", "Roboto", sans-serif;
}

.background-header-main {
  background: url(../img/mobile.jpg);
  background-repeat: no-repeat;
  width: 320px;
}

/* HEADER */
.container {
  width: 320px;
  /*padding: 0 10px;
  margin: auto;*/
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}

.main-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0 0 0;
  margin: 0 0 125px 0;
}

.main-list-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.main-list-item:not(:nth-last-child(-n + 1)) {
  margin-right: 20px;
}

.main-list-item:hover {
  border: 2px solid white;
  border-radius: 20px;
  padding: 11px 17px 11px 17px;
  cursor: pointer;
}

.main-list-link {
  color: white;
  text-decoration: none;
}

.logo {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

/* MAIN section find-partner */
.find-partner {
  margin: 0 0 208px 0;
  padding: 0;
}

.find-title {
  text-align: center;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.find-span {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 217px;
  /*display: block;*/
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.find-button {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: #ff4e50;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 280px;
  height: 40px;
  cursor: pointer;
}

/* main section MEET-PARTNER */

.meet-partner {
  margin-bottom: 57px;
}

.meet-content {
  display: flex;
  flex-direction: column;
}

.meet-title {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 0;
}

.meet-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.meet-list-item {
  text-align: center;
  margin-bottom: 30px;
}

/*.meet-list-item:not(:nth-last-child(-n + 1)) {
  margin-bottom: 30px;
}*/

.partner-name {
  font-size: 14px;
  margin: 0 0 16px 0;
}

.partner-span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #7a7a7a;
}

.meet-photo {
  padding: 0;
  margin: 0 0 20px 0;
}

.meet-button {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: white;
  color: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 280px;
  height: 40px;
  cursor: pointer;
}

/* TABLET min-width 768px */

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .background-header-main {
    width: 768px;
    height: 700px;
    background-image: url(../img/tablet.jpg);
    background-repeat: no-repeat;
    
  }

  .header-content {
    display: flex;
    flex-direction: row-reverse;
    width: 668px;
    height: 74px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-end;
  }

  .main-list {
    margin: 0;
    padding: 0;
  }

  /* section FIND partner */
  .find-partner {
    padding-top: 154px;
    margin-bottom: 307px;
  }

  .find-title {
    font-size: 52px;
    width: 503px;
    display: flex;
    margin: 0 auto;
  }

  .find-span {
    font-size: 24px;
    width: 100%;
  }

  .find-button {
    width: 226px;
  }

  /* section MEET partner */
  
  .meet-title {
    margin: 0 0 32px 0;
  }

  .meet-list {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 470px;
    padding: 0;
    margin-bottom: 40px;
  }

  .meet-list-item {
    width: 217px;
  }

  .meet-button {
    width: 192px;
    margin-bottom: 40px;
  }
}
